/* 
Template: City Guide Boostrap Javascript Template
Author: Shuvo Mallick
Description: City Guide Boostrap Javascript Template
Version: 1.0.0
Keywords:'city Guide Template', 'bootstrap template', 'javascript'
*/

/* ===== IMPORT INDEX ===== */
// @import "../scss/partials/variables";
@import "./partials/variables";
@import "./vendor/bootstrap";
@import "../scss/partials/classes";
@import "../scss/partials/mixins";
@import "../scss/partials/reset";
@import "../scss/partials/utilities";
@import "../scss/partials/responsive";
/* ===== IMPORT INDEX ===== */

// === NAVBAR START ===
.custom-navbar {
  .navbar-brand {
    width: 115px;
    img {
      width: 100%;
    }
  }

  .navbar-nav {
    .me-lg-2 {
      padding-right: 1rem !important;
      border-right: 1px solid $gray-300 !important;
    }

    .dropdown-menu {
      margin-top: 10px;
    }
  }
}
// === NAVBAR END ===

// === BANNER/HERO START ===
.banner {
  .left-side {
    z-index: 2;
    h1 {
      font-weight: 700;
      font-size: 48px;

      .dropdown-toggle::after {
        font-size: 20px !important;
        margin-left: 5px !important;
      }
    }

    p {
      margin-right: 30px;
    }

    .dropdown > a {
      font-weight: 700;
      font-size: 48px;
    }

    .form-group {
      padding: 0.4rem;
      border: 1px solid $gray-200;
      background-color: $white;
      border-radius: 50px;
      color: $gray-600;
      font-weight: 400;
      margin-right: -100px;

      input {
        // @include placeholder;
      }

      .input-group:first-child {
        width: 110% !important;
        border-radius: 0px !important;
      }

      .input-group {
        button {
          // @include base-des-16-400;
          color: $gray-600;
        }

        .all-categories {
          color: $gray-600;

          background-position: right 66px center;
        }

        .icon-search {
          padding: 0 10px;
        }
        .icon-list {
          padding: 0 5px;
        }
      }

      .form-control {
        padding-left: 0px;
        // &:focus {
        //   margin-left: 2px !important;
        //   padding: 5px;
        // }
      }
    }
  }

  .right-side {
    .first-img {
      width: 440px;
      .img {
        width: 100%;
      }
    }

    .second-row-imgs {
      margin-top: -175px;

      .second-img {
        width: 400px;
        margin-bottom: -80px;
      }

      .third-img {
        width: 306px;
      }
    }
  }
}
// === BANNER/HERO END ===

// === CATEGORIES START ===
.categories {
  .category {
    cursor: pointer;

    .icon-box {
      width: 48px;
      height: 48px;
      border-radius: 40px;

      i {
        font-size: 22px !important;
        font-weight: 500;
      }
    }

    &:hover {
      box-shadow: $box-shadow !important;
    }

    h3 {
      font-size: 14px;
      font-weight: 700;
      color: $gray-900;
    }
  }

  .accommodation,
  .more {
    .icon-box {
      background-color: #5d3cf21a;

      i {
        color: $accent;
      }
    }

    &:hover .icon-box {
      background-color: $accent !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .food-drink {
    .icon-box {
      background-color: #fdbc311a;

      i {
        color: $warning;
      }
    }

    &:hover .icon-box {
      background-color: $warning !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .shopping {
    .icon-box {
      background-color: #fd56311a;

      i {
        color: $primary;
      }
    }

    &:hover .icon-box {
      background-color: $primary !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .art-history {
    .icon-box {
      background-color: #07c98b1a;

      i {
        color: $success;
      }
    }

    &:hover .icon-box {
      background-color: $success !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .entertainment {
    .icon-box {
      background-color: #f23c491a;

      i {
        color: $danger;
      }
    }

    &:hover .icon-box {
      background-color: $danger !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }
}
// === CATEGORIES END ===

// === WHERE TO STAY START ===
.where-stay {
}

// .card-hotel {
//   cursor: pointer;

//   .card-top {
//     &::after {
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       left: 0;
//       right: 0;
//       background-color: rgba(33, 37, 41, 0.5);
//       border-radius: 12px;
//       z-index: 1;
//       opacity: 0;
//       transition: all 300ms ease;
//     }

//     .favorite-btn {
//       width: 32px;
//       height: 32px;
//       border-radius: 25px !important;
//       background-color: $white;
//       margin-right: 15px;
//       margin-top: 15px;
//       color: $primary;
//       z-index: 2;

//       &:hover {
//         color: $white !important;
//         background-color: $primary;
//         transition: 300ms all ease;
//       }
//     }
//   }

//   &:hover .card-top::after {
//     opacity: 1;
//   }

//   .card-body {
//     .nav-link {
//       @include large-text-18-700;
//       color: $gray-800 !important;

//       &:hover {
//         color: $primary !important;
//       }
//     }

//     .hotel-details {
//       p {
//         @include extramall-des-12-400;
//         color: $gray-700 !important;
//       }
//     }
//   }
// }

// === WHERE TO STAY END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===
