/* 
Template: City Guide Boostrap Javascript Template
Author: Shuvo Mallick
Description: City Guide Boostrap Javascript Template
Version: 1.0.0
Keywords:'city Guide Template', 'bootstrap template', 'javascript'
*/

/* ===== SCSS FILE INDEX ===== */
/* --- style.scss --- */
/* --- title --- */
/* ===== SCSS FILE INDEX ===== */

/* ===== IMPORT INDEX ===== */
@import "../scss/partials/_variables";
@import "../scss/partials/_mixins";
@import "../scss/partials/_classes";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* ===== IMPORT INDEX ===== */

// === NAVBAR START ===
.custom-navbar {
  .navbar-brand {
    width: 115px;
    img {
      width: 100%;
    }
  }

  .navbar-nav {
    li {
      a {
        @include text-16-700;
        color: $gray-800;
      }
      gap: 30px;
    }
  }
}

// === NAVBAR END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===
