// === TEXT MIXIN START ===
@mixin lead-text-20-700 {
  font-size: 20px;
  font-weight: 700;
}

@mixin lead-des-20-400 {
  font-size: 20px;
  font-weight: 400;
}

@mixin large-text-18-700 {
  font-size: 18px;
  font-weight: 700;
}

@mixin large-des-18-400 {
  font-size: 18px;
  font-weight: 400;
}

@mixin base-text-16-700 {
  font-size: 16px;
  font-weight: 700;
}

@mixin base-des-16-400 {
  font-size: 16px;
  font-weight: 400;
}

@mixin small-text-14-700 {
  font-size: 14px;
  font-weight: 700;
}

@mixin small-des-14-400 {
  font-size: 14px;
  font-weight: 400;
}

@mixin extramall-text-12-700 {
  font-size: 12px;
  font-weight: 700;
}

@mixin extramall-des-12-400 {
  font-size: 12px;
  font-weight: 400;
}

@mixin extraextrasmall-text-10-700 {
  font-size: 10px;
  font-weight: 700;
}

@mixin extraextrasmall-des-10-400 {
  font-size: 10px;
  font-weight: 400;
}

// form text
@mixin placeholder {
  font-weight: 400;
  font-size: 16px;
}
// === TEXT MIXIN END ===

// === BUTTON MIXIN START ===

// === BUTTON MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===

// === MIXIN START ===
// === MIXIN END ===
