// === FORM START ====
// input[type="text"],
// input[type="date"] {
//   outline: none !important;
//   box-shadow: none !important;

//   &:focus {
//     outline: none !important;
//     box-shadow: none !important;
//   }
// }

// .form-control:focus,
// .form-select:focus,
// .form-control[type="date"]:focus,
// [type="text"]:focus,
// .form-control:focus {
//   border-color: var(--bs-gray-300) !important;
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   outline: none;
// }

// form {
//   .btn-check:checked + .btn,
//   :not(.btn-check) + .btn:active,
//   .btn:first-child:active,
//   .btn.active,
//   .btn.show {
//     border: 1px solid transparent !important;
//   }
// }
// === FORM END ====

// === NAVBAR START ===
// .dropdown-menu a {
//   @include base-des-16-400;
// }

// .dropdown-toggle::after {
//   all: unset;
//   content: "\e91d" !important;
//   font-family: "icomoon" !important;
//   font-size: 12px;
//   display: inline-block;
//   margin-left: 0 !important;
//   vertical-align: 0 !important;
//   border-top: none !important;
//   border-right: none !important;
//   border-bottom: 0 !important;
//   border-left: transparent !important;
// }

// === NAVBAR END ===

// ==== BUTTON START ====
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0);
}
