// === PERSONAL INFO PAGE START ===
.accounts {
  .account-header {
    img {
      width: 100px;
    }

    .title-review {
      h4 {
        font-weight: 700;
        font-size: 24px;
      }

      .starts {
        font-size: 12px;
      }
    }
  }
}

.personal-info {
  .details-info {
    label {
      font-weight: 700;
      font-size: 16px;
    }

    p {
      margin-bottom: 0;
      color: $gray-700;
    }

    i {
      font-size: 18px;
    }

    .active {
      color: $primary;
    }

    .edit-mode {
      color: $gray-600 !important;

      select {
        option[selected] {
          background-color: $gray-200 !important;
        }
      }
    }
  }
}

.ac-favorite-stay {
}

// === PERSONAL INFO PAGE END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===
