.account-body {
  background-color: #e5e5e5;
}

// === PERSONAL INFO PAGE START ===
.accounts {
  .account-header {
    img {
      width: 100px;
    }

    .title-review {
      h4 {
        font-weight: 700;
        font-size: 24px;
      }

      .starts {
        font-size: 12px;
      }
    }
  }
}

.personal-info {
  .details-info {
    label {
      font-weight: 700;
      font-size: 16px;
    }

    p {
      margin-bottom: 0;
      color: $gray-700;
    }

    i {
      font-size: 18px;
    }

    .active {
      color: $primary;
    }

    .edit-mode {
      color: $gray-600 !important;

      select {
        option[selected] {
          background-color: $gray-200 !important;
        }
      }
    }
  }
}

// === PERSONAL INFO PAGE END ===

// === AC REVIEWS START ===
.personal-review {
  .review {
    color: $gray-700;

    h4 {
      font-weight: 700;
      font-size: 16px;

      span {
        font-weight: 400;
        font-size: 16px;
      }
    }

    .starts {
      font-size: 12px;
    }

    .date {
      font-weight: 400;
      font-size: 14px;
    }

    .review-text {
      font-weight: 400;
      font-size: 16px;
    }

    .icons {
      color: $gray-600;
    }

    .delete-icon {
      i {
        font-size: 18px;
        color: $gray-600;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
// === AC REVIEWS END ===

// === AC Notification START ===
.ac-notification {
  .notification {
    label {
      font-weight: 700;
      font-size: 16px;
      color: $gray-800;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: $gray-700;
    }

    .form-check-input:checked {
      background-color: $success;
      border: $success;
    }

    .form-check-input:not(checked) {
      background-color: $gray-500;
      border: $gray-500;
    }
  }
}
// === ac-notification END ===
