// === CATEGORIES START ===
.catalog-categories {
  .left-categories {
    .form-group {
      border: 1px solid $gray-300;
      padding: 6px;
      border-radius: 40px;
      color: $gray-600;

      input {
        padding: 2px;

        &::placeholder {
          color: $gray-600;
        }
      }
    }

    .categories {
      .category {
        cursor: pointer;
        padding: 1.25rem !important;

        .icon-box {
          width: 48px;
          height: 48px;
          border-radius: 40px;

          i {
            font-size: 22px !important;
            font-weight: 500;
          }
        }

        &:hover {
          box-shadow: $box-shadow !important;
        }

        h3 {
          font-size: 16px;
          font-weight: 700;
          color: $gray-900;
        }

        &:hover .icon-box {
          transition: 300ms all ease;
        }

        &:hover i {
          color: $white !important;
          transition: 300ms all ease;
        }
      }

      .accommodation,
      .auto-service {
        .icon-box {
          background-color: $faded-accent;

          i {
            color: $accent;
          }
        }

        &:hover .icon-box {
          background-color: $accent !important;
        }
      }

      .fitness-sport {
        .icon-box {
          background-color: $faded-danger;

          i {
            color: $danger;
          }
        }

        &:hover .icon-box {
          background-color: $danger !important;
        }
      }

      .food-drink {
        .icon-box {
          background-color: $faded-success;

          i {
            color: $warning;
          }
        }

        &:hover .icon-box {
          background-color: $warning !important;
        }
      }

      .night-life {
        .icon-box {
          background-color: #07c98b1a;

          i {
            color: $success;
          }
        }

        &:hover .icon-box {
          background-color: $success !important;
          transition: 300ms all ease;
        }
      }

      .shopping {
        .icon-box {
          background-color: $faded-success;

          i {
            color: $primary;
          }
        }

        &:hover .icon-box {
          background-color: $primary !important;
        }
      }

      .medicine {
        .icon-box {
          background-color: $faded-info;

          i {
            color: $info;
          }
        }

        &:hover .icon-box {
          background-color: $info !important;
        }
      }

      .art-history {
        .icon-box {
          background-color: $faded-success;

          i {
            color: $success;
          }
        }

        &:hover .icon-box {
          background-color: $success !important;
        }
      }

      .beauty {
        .icon-box {
          background-color: $faded-warning;

          i {
            color: $warning;
          }
        }

        &:hover .icon-box {
          background-color: $warning !important;
        }
      }

      .entertainment {
        .icon-box {
          background-color: $faded-danger;

          i {
            color: $danger;
          }
        }

        &:hover .icon-box {
          background-color: $danger !important;
        }
      }

      .auto-service {
        .icon-box {
          background-color: $faded-accent;

          i {
            color: $accent;
          }
        }

        &:hover .icon-box {
          background-color: $accent !important;
        }
      }
    }
  }

  .right-catalog {
  }
}
// === CATEGORIES END ===

// === FILTER STAR ===
.catalog-filters {
  .left-filters {
    .filters-tab {
      h4 {
        font-weight: 700;
        font-size: 18px;
      }

      .price {
        .input-group {
          .input-group-text {
            background-color: $white;
            width: 44px;
          }
        }
      }

      .category {
        select {
          option {
            &::before {
              all: unset;
              font-family: "icomoon";
              content: "\e91d";
              margin-top: 5px !important;
            }
          }
        }
      }

      .category-dropdown {
        .dropdown {
          button {
            border: 1px solid $gray-400;
            width: 100%;
            text-align: start;
            font-weight: 400;
            font-size: 16px;
            border-radius: 8px;
          }
        }
      }

      .average-rating {
        .rating {
          .form-check {
            .text-gray {
              color: $gray-600 !important;
            }
          }
        }
      }
    }
  }
}
// === FILTER END ===

// === SINGLE PLACE - GALLERY PAGE START ===
.catalog-gallery {
  .gallery {
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;

      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
        transition: all 300ms ease;
      }
    }

    .zoom-icon {
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 5;
      opacity: 0;

      i {
        font-size: 35px;
        margin: auto;
      }

      &:hover {
        opacity: 1;
        transition: all 300ms ease;
      }
    }
  }
}

.place-contents {
  .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
  }

  .place-info {
    .sort-details {
      p {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  .price {
    h4 {
      font-weight: 700;
      font-size: 24px;

      span {
        font-weight: 400;
        font-size: 16px;
        color: $gray-700;
      }
    }

    .input-group {
      &:focus {
        box-shadow: none;
      }

      .form-control:focus {
        box-shadow: 0 0 0 0rem !important;
      }
    }
  }

  .right-map {
    .button {
      // top: 0;
      // bottom: 0;
      // left: 0;
      // right: 0;
      // margin: auto;
      // height: 100%;
      // width: 100%;
      // display: flex;
    }
  }
}
// === SINGLE PLACE - GALLERY PAGE END ===

// === SINGLE PLACE -INFO PAGE START ===
.catalog-info {
  .title {
    font-weight: 700;
    font-size: 24px;
    color: $gray-900;
  }

  .about {
    .sort-details {
      font-weight: 400;
      font-size: 16px;
      color: $gray-700;
    }
  }

  .amenities {
    ul {
      li {
        margin-bottom: 4px;
      }
    }
  }

  .bank-card {
    h4 {
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.right-sort-info {
  .title {
    font-size: 20px;
  }

  .price {
    h4 {
      font-weight: 700;
      font-size: 24px;

      span {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}
// === SINGLE PLACE -INFO PAGE  END ===

// === SINGLE PLACE - REVIEW START ===
.review-contents {
  .progress-bar {
    .contents {
      margin-bottom: 4px;
      p {
        &:last-child {
          width: 48px;
        }
      }
    }

    .progress {
      width: 431px !important;
    }
  }

  .rating {
    h1 {
      font-weight: 700;
      font-size: 56px;
    }
  }
}

.single-review {
  .user-info {
    h4 {
      font-weight: 700;
      font-size: 18px;
    }

    .starts {
      font-size: 12px;
    }
  }

  p {
    color: $gray-700;
  }

  .icons {
    color: $gray-600;
  }
}

// === SINGLE PLACE - REVIEW END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===
