// === NAVBAR START ===
.custom-navbar {
  .navbar-brand {
    width: 115px;

    display: block;
    img {
      width: 100% !important;
      height: auto;
      vertical-align: middle;
    }
  }

  .navbar-nav {
    .me-lg-2 {
      padding-right: 1rem !important;
      border-right: 1px solid $gray-300 !important;
    }

    .dropdown-menu {
      margin-top: 10px;
    }
  }
}
// === NAVBAR END ===

// === BANNER/HERO START ===
.banner {
  .left-side {
    z-index: 2;
    h1 {
      font-weight: 700;
      font-size: 48px;

      .dropdown-toggle::after {
        font-size: 20px !important;
        margin-left: 5px !important;
      }
    }

    p {
      margin-right: 30px;
    }

    .dropdown > a {
      font-weight: 700;
      font-size: 48px;
    }

    .form-group {
      padding: 0.4rem;
      border: 1px solid $gray-200;
      background-color: $white;
      border-radius: 50px;
      color: $gray-600;
      font-weight: 400;
      margin-right: -100px;

      .input-group:first-child {
        border-radius: 0px !important;
      }

      .input-group {
        .all-categories {
          color: $gray-600;
        }

        .icon-search {
          padding: 0 10px;
        }

        .icon-list {
          padding: 0 5px;
        }
      }

      .form-control {
        padding-left: 0px;
      }

      .search-btn {
        padding: 14px 32px;
      }
    }
  }

  .right-side {
    .first-img {
      width: 440px;
      .img {
        width: 100%;
      }
    }

    .second-row-imgs {
      margin-top: -175px;

      .second-img {
        width: 400px !important;
        margin-bottom: -80px;

        img {
          width: 100% !important;
        }
      }

      .third-img {
        width: 306px;

        img {
          width: 100% !important;
        }
      }
    }
  }
}
// === BANNER/HERO END ===

// === CATEGORIES START ===
.categories {
  .category {
    cursor: pointer;

    .icon-box {
      width: 48px;
      height: 48px;
      border-radius: 40px;

      i {
        font-size: 22px !important;
        font-weight: 500;
      }
    }

    &:hover {
      box-shadow: $box-shadow !important;
    }

    h3 {
      font-size: 14px;
      font-weight: 700;
      color: $gray-900;
    }
  }

  .accommodation,
  .more {
    .icon-box {
      background-color: #5d3cf21a;

      i {
        color: $accent;
      }
    }

    &:hover .icon-box {
      background-color: $accent !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .food-drink {
    .icon-box {
      background-color: #fdbc311a;

      i {
        color: $warning;
      }
    }

    &:hover .icon-box {
      background-color: $warning !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .shopping {
    .icon-box {
      background-color: #fd56311a;

      i {
        color: $primary;
      }
    }

    &:hover .icon-box {
      background-color: $primary !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .art-history {
    .icon-box {
      background-color: #07c98b1a;

      i {
        color: $success;
      }
    }

    &:hover .icon-box {
      background-color: $success !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .entertainment {
    .icon-box {
      background-color: #f23c491a;

      i {
        color: $danger;
      }
    }

    &:hover .icon-box {
      background-color: $danger !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }
}
// === CATEGORIES END ===

// === WHERE TO EAT START ===
.taxi-488 {
  .taxi {
    height: 95%;
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
  }
}

.eat-place {
  .logo-box {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background-color: $gray-200;
  }

  .details {
    .card-title {
      font-weight: 700;
      font-size: 18px;

      &:hover {
        color: $primary !important;
      }
    }

    .hotel-details {
      p {
        font-weight: 400;
        font-size: 12px;
        color: $gray-700 !important;
      }
    }
  }
}

// === WHERE TO EAT END ===

// === Upcoming events in Berlin START ===
.upcoming-events {
  .btn-filter {
  }

  .event-card {
    img {
      height: 320px;
      border-radius: 12px;
      background-color: red;
    }

    .card-body {
      h3 {
        font-weight: 700;
        font-size: 20px;
      }

      .btn-group {
        .vertical-line {
          margin-left: -1px;
          z-index: 5;
        }
      }
    }
  }
}
// === Upcoming events in Berlin END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===

// === START ===
// === END ===
