// === NAVBAR START ===
body {
  padding-top: 70px;

  header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
  }
}

.custom-navbar {
  .navbar-brand {
    width: 115px;

    display: block;
    img {
      width: 100% !important;
      height: auto;
      vertical-align: middle;
    }
  }

  .navbar-nav {
    .nav-link {
      padding: 10px 15px !important;
    }

    .me-lg-2 {
      padding-right: 1rem !important;
      border-right: 1px solid $gray-300 !important;
    }

    .dropdown {
      .dropdown-menu {
        // margin-top: 5px;
      }
    }
  }

  .dropdown-toggle {
    &:hover {
    }
  }
}

// === NAVBAR END ===

// === BANNER-HERO ===
.banner {
  &__left-side {
    z-index: 2;

    h1 {
      font-weight: 700;
      font-size: 48px;

      .dropdown-toggle::after {
        font-size: 20px !important;
        margin-left: 5px !important;
      }
    }

    p {
      margin-right: 30px;
    }

    .dropdown > a {
      font-weight: 700;
      font-size: 48px;
    }

    .form-group {
      padding: 0.4rem;
      border: 1px solid $gray-200;
      background-color: $white;
      border-radius: 50px;
      color: $gray-600;
      font-weight: 400;
      margin-right: -100px;

      .input-group:first-child {
        border-radius: 0px !important;
        width: 130%;
      }

      .input-group {
        .all-categories {
          color: $gray-600;
        }

        .icon-search {
          padding: 0 10px;
        }

        .icon-list {
          padding: 0 5px;
        }
      }

      .form-control {
        padding-left: 0px;
      }

      .search-btn {
        padding: 14px 32px;
      }
    }

    .banner-search {
      &__what-looking-input {
        &::after {
          content: "";
          background-color: $gray-300 !important;
          width: 1px !important;
          height: 60%;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
    }
  }

  &__right-side {
    .first-img {
      width: 440px;
      .img {
        width: 100%;
      }
    }

    .second-row-imgs {
      margin-top: -175px;

      .second-img {
        width: 400px !important;
        margin-bottom: -80px;

        img {
          width: 100% !important;
        }
      }

      .third-img {
        width: 306px;

        img {
          width: 100% !important;
        }
      }
    }
  }
}
// === /BANNER-HERO ===

// === CATEGORIES START ===
.categories {
  .category {
    cursor: pointer;

    .icon-box {
      width: 48px;
      height: 48px;
      border-radius: 40px;

      i {
        font-size: 22px !important;
        font-weight: 500;
      }
    }

    &:hover {
      box-shadow: $box-shadow !important;
    }

    h3 {
      font-size: 14px;
      font-weight: 700;
      color: $gray-900;
    }
  }

  .accommodation,
  .more {
    .icon-box {
      background-color: #5d3cf21a;

      i {
        color: $accent;
      }
    }

    &:hover .icon-box {
      background-color: $accent !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .food-drink {
    .icon-box {
      background-color: #fdbc311a;

      i {
        color: $warning;
      }
    }

    &:hover .icon-box {
      background-color: $warning !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .shopping {
    .icon-box {
      background-color: #fd56311a;

      i {
        color: $primary;
      }
    }

    &:hover .icon-box {
      background-color: $primary !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .art-history {
    .icon-box {
      background-color: #07c98b1a;

      i {
        color: $success;
      }
    }

    &:hover .icon-box {
      background-color: $success !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }

  .entertainment {
    .icon-box {
      background-color: #f23c491a;

      i {
        color: $danger;
      }
    }

    &:hover .icon-box {
      background-color: $danger !important;
      transition: 300ms all ease;
    }

    &:hover i {
      color: $white;
      transition: 300ms all ease;
    }
  }
}
// === CATEGORIES END ===

// === WHERE TO STAY ===
// Swiper JS
.swiper-container {
  // .swiper {
  //   position: static;

  //   .swiper-button-next {
  //     font-size: 12px;
  //     color: $gray-800;
  //     font-size: 12px;
  //     height: 36px;
  //     width: 36px;
  //     color: $gray-800;
  //     background-color: $white;
  //     display: flex !important;
  //     justify-content: center;
  //     align-items: center;
  //     border-radius: 100px;
  //     box-shadow: $box-shadow-sm;
  //     position: absolute;
  //     top: 50%;
  //     right: -40px;
  //     transform: translateY(-50%);

  //     &:after {
  //       margin-right: -30px;
  //       z-index: 100 !important;
  //     }
  //   }

  //   .swiper-button-prev {
  //   }
  // }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    z-index: 100;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: $box-shadow-sm;
  }

  .swiper-button-next {
    right: -3rem;

    &::after {
      font-size: 1.25rem;
      color: $gray-800;
      font-family: "icomoon" !important;
      content: "\e91f";
    }
  }

  .swiper-button-prev {
    left: -3rem;

    &::after {
      font-size: 1.25rem;
      color: $gray-800;
      font-family: "icomoon" !important;
      content: "\e91e";
    }
  }

  .swiper-wrapper {
    margin-bottom: 3rem;
  }

  .swiper-pagination {
    // margin-bottom: -45px;
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 6px;
    background-color: $gray-700;
    opacity: 0.4;
    border-radius: 40px;
    transition: width 300ms;
  }

  .swiper-pagination-bullet-active {
    width: 32px;
    opacity: 1;
  }
}
// /Swiper JS
// === /WHERE TO STAY ===

// === WHERE TO EAT START ===
.taxi-488 {
  .taxi {
    height: 95%;
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
  }
}

.eat-place {
  .logo-box {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background-color: $gray-200;
  }

  .details {
    .card-title {
      font-weight: 700;
      font-size: 18px;

      &:hover {
        color: $primary !important;
      }
    }

    .hotel-details {
      p {
        font-weight: 400;
        font-size: 12px;
        color: $gray-700 !important;
      }
    }
  }
}
// === WHERE TO EAT END ===

// === Upcoming events in Berlin START ===
.upcoming-events {
  .btn-filter {
  }

  .event-card {
    &::after {
      position: absolute;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(31, 27, 45, 0) 0%,
        rgba(31, 27, 45, 0.1) 26.56%,
        rgba(31, 27, 45, 0.28) 42.71%,
        rgba(31, 27, 45, 0.48) 56.77%,
        rgba(31, 27, 45, 0.68) 72.4%,
        rgba(31, 27, 45, 0.85) 86.98%,
        rgba(31, 27, 45, 0.94) 100%
      );
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      margin: auto;
      border-radius: 12px;
    }

    img {
      height: 320px;
      border-radius: 12px;
      background-color: red;
    }

    .card-body {
      z-index: 1;

      h3 {
        font-weight: 700;
        font-size: 20px;
      }

      .btn-group {
        .fist-btn {
          &:hover {
            z-index: 6 !important;
          }
        }

        .heart-btn {
          &::before {
            content: "";
            position: absolute;
            background-color: rgba(255, 255, 255, 0.479);
            width: 1px;
            height: 50%;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
          }
        }

        &:hover {
          .heart-btn::before {
            background-color: transparent;
          }
        }
      }
    }
  }
}
// === Upcoming events in Berlin END ===

// === What’s new in Berlin START ===
.whats-new-slide {
  .details {
    .nav-link {
      font-weight: 700;
      font-size: 24px;
    }

    .hotel-details {
      p {
        font-weight: 400;
        font-size: 14px;
        color: $gray-700;
        margin-bottom: 3px !important;
      }
    }
  }
}

// Swiper JS
.whats-new-berlin {
  .swiper-container {
    .swiper-wrapper {
      // margin-bottom: 1rem !important;
    }

    .swiper-button-prev {
      position: relative;
      bottom: 0;
      left: 0;

      // position: static;
      // margin-top: 1rem;
    }

    .swiper-button-next {
      position: relative;
      bottom: 0;
      left: 3rem;
      top: -14px;
      // position: static;
      // margin-left: 50px;
      // margin-top: -36px;
    }
  }
}
// /Swiper JS

// === What’s new in Berlin END ===

// === Get Our App START ===
.our-app {
  background-color: $faded-accent;
  border-radius: 12px;

  h2 {
    font-weight: 700;
    font-size: 32px;
    color: $gray-900;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    color: $gray-700;
  }

  .icons {
    img {
      width: 200px;
      cursor: pointer;
    }
  }
}
// === Get Our App END ===

// === Don’t miss the latest posts START ===
.latest-posts {
  .card-body {
    a {
      &:first-child {
        font-weight: 400;
        font-size: 12px;
      }

      &:nth-child(2) {
        font-weight: 700;
        font-size: 16px;
      }
    }

    .user-details {
      h6 {
        font-weight: 700;
        font-size: 14px;
      }

      span {
        font-weight: 400;
        font-size: 12px;
      }

      &:hover {
        color: $gray-700;
      }
    }
  }
}
// === Don’t miss the latest posts END ===

// === footer START ===
.footer {
  background-color: $gray-900;

  .first-col {
    .logo {
      width: 116px !important;
    }

    .contact-details {
      a {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .links {
    h3 {
      font-weight: 700;
      font-size: 16px;
    }

    ul {
      li {
        a {
          font-weight: 400;
          font-size: 14px;
          color: $gray-500;
        }
      }
    }
  }

  .subscribe-form {
    h4 {
      font-weight: 700;
      font-size: 24px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: $gray-500;
    }

    form {
      background: rgba(255, 255, 255, 0.04);
      border: 1px solid rgba(255, 255, 255, 0.12);

      input {
        outline: none !important;
        border: none;
        color: white;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.footer-lower {
  border-color: #ffffff27 !important;

  p {
    &:first-child {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .right-menu {
    .links {
      a {
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .lan-dropdown {
    button {
      font-weight: 400;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
    }

    .dropdown-menu {
      .active {
        color: white;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }

  .social-icon {
    a {
      font-weight: 400;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
    }

    .btn-icon {
      height: 32px;
      width: 32px;
      background-color: #ffffff09;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      &:hover {
        background-color: white;
        color: $primary;
      }
    }
  }
}
// === footer END ===
