/* ==== Sign In Modal START ==== */
.modal {
  // --bs-modal-width: 950px !important;

  .modal-dialog {
    max-width: 950px !important;
    // margin-right: auto;
    // margin-left: auto;

    .btn-close {
      width: 10px;
      height: 10px;
    }

    .sign-in-modal {
      .border-right {
        border-right: 1px solid var(--bs-gray-300) !important;
      }

      .left-contents {
        .modal-title {
          font-weight: 700;
          font-size: 28px;
        }

        .dont-have {
          font-weight: 400;
          font-size: 16px;
          color: var(--bs-gray-700);
        }
      }

      .right-contents {
        .btn {
          &:hover {
            color: $white;
          }
        }

        .or {
          font-weight: 400;
          font-size: 16px;
        }

        .sign-in-form {
          .form-label {
            font-weight: 400;
            font-size: 16px;
          }

          .forgot-pass {
            font-weight: 400;
            font-size: 16px;
          }

          .btn-lg {
            font-weight: 700;
            font-size: 16px;
            padding: 14px 0;
          }
        }
      }
    }
  }
}
/* ==== Sign In Modal END ==== */

/* ==== Sign UP Modal START ==== */
.signup-modal {
  .left-contents {
    .modal-title {
      font-weight: 700;
      font-size: 28px;
    }

    .left-list {
      font-weight: 400;
      font-size: 16px;
    }
  }

  .right-contents {
    .or {
      font-weight: 400;
      font-size: 16px;
    }

    .btn {
      &:hover {
        color: $white;
      }
    }

    .signup-form {
      .form-label {
        font-weight: 400;
        font-size: 16px;
      }

      .dont-have {
        font-weight: 400;
        font-size: 16px;
      }

      .form-check {
        font-weight: 400;
        font-size: 16px;
      }

      .btn-lg {
        font-weight: 700;
        font-size: 16px;
        padding: 14px 0;
      }
    }
  }
}
/* ==== Sign UP Modal END ===== */
