// === ABOUT PAGE ===
.about-banner {
  background-image: url("../.././assets/images/about/about-banner.png");
  background-repeat: no-repeat, repeat;
  height: 577px;
  width: 100%;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(31, 27, 45, 0.5) 0%,
      rgba(31, 27, 45, 0.36) 31.25%,
      rgba(31, 27, 45, 0) 100%
    ) !important;

    height: 577px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  h1 {
    font-weight: 700;
    font-size: 56px;
  }

  nav {
    z-index: 2;

    .breadcrumb-item {
      &::before {
        color: rgba(255, 255, 255, 0.644);
      }
    }
  }

  &__contents {
    z-index: 2;
  }

  &__bottom {
    height: 2rem !important;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
}

// The values we live by
.values-we-live {
  margin-top: -2rem;
  border-radius: 15px 15px 0 0;
}

.feature-cards {
  .safety-priority {
    .feature-card__iconbox {
      background-color: $faded-accent;

      i {
        color: $accent;
      }
    }

    &:hover .feature-card__iconbox {
      background-color: $accent !important;
    }
  }

  .fair-price {
    .feature-card__iconbox {
      background-color: $faded-warning;

      i {
        color: $warning;
      }
    }

    &:hover .feature-card__iconbox {
      background-color: $warning !important;
    }
  }

  .empathy {
    .feature-card__iconbox {
      background-color: $faded-primary;

      i {
        color: $primary;
      }
    }

    &:hover .feature-card__iconbox {
      background-color: $primary !important;
    }
  }

  .results-driven-team {
    .feature-card__iconbox {
      background-color: $faded-success;

      i {
        color: $success;
      }
    }

    &:hover .feature-card__iconbox {
      background-color: $success !important;
    }
  }

  .daily-hard-work {
    .feature-card__iconbox {
      background-color: $faded-success;

      i {
        color: $success;
      }
    }

    &:hover .feature-card__iconbox {
      background-color: $success !important;
    }
  }
}

// Frequently asked questions
.requently-ask__questions {
  &__question {
    h4 {
      font-weight: 700;
      font-size: 20px;
    }
  }
}

// The people behind Finder
.team-members {
  .team-member {
    h4 {
      font-weight: 700;
      font-size: 20px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
    }
  }
}

// stay-informed
.stay-informed {
  &__des {
    font-weight: 400;
    font-size: 18px !important;
  }

  &__form-group {
    border: 1px solid #efecf3;
    border-radius: 40px;
    padding: 8px;

    .form-control {
      padding-left: 8px;
    }
  }
}
// === /ABOUT PAGE ===

// === BLOG PAGE ===
.news-insights {
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
}

.blog-posts {
  .blog__right-posts {
    .card-post {
      .card-top {
        max-width: 500px;
        width: 100%;
      }
    }
  }
}

.stay-informed-blog {
  p {
    &:first-child {
      font-weight: 400;
      font-size: 14px;
    }

    &:last-child {
      font-weight: 400;
      font-size: 12px;
    }
  }
}
// === /BLOG PAGE ===

// === HELP CENTER PAGE ===
.help-center-body {
  background-color: $gray-300;
}

.help-center {
  &__search {
    .form-control {
      padding-left: 20px;
    }
  }
}

.faq {
  background-color: $white;

  &__questions {
    &__question {
    }
  }
}

.we-need-help {
  background-color: $gray-200;

  h3 {
    font-weight: 700;
    font-size: 32px;
  }
}
// === /HELP CENTER PAGE ===

// === CONTACT PAGE ===
.contact-form {
  h2 {
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
  }

  textarea {
    height: 128px;
  }
}

.contact-info {
  .iconbox__default {
    width: 48px;
    height: 48px;
  }

  .contact-info__item {
    span {
      font-weight: 400;
      font-size: 16px;
      color: $gray-700;
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
    }
  }
}
// === /CONTACT PAGE ===

// === 404 PAGE ===
.body-404 {
  background-color: #e5e5e5;

  img {
    width: 856px;
  }

  h4 {
    font-weight: 700;
    font-size: 28px;
  }
}
// === /404 PAGE ===

// === S ===
// === /E ===

// === S ===
// === /E ===
